<div class="container">
    <div class="header">
        <div><h1>Simple Bank </h1></div>
        <div><h4 (click) = "logOut()">Log Out</h4></div>
    </div>
    <div class="greeting">
        <h1 *ngIf="dayPeriod ==-1">Good Morning, {{user.username}}</h1>
        <h1 *ngIf="dayPeriod == 0">Good Afternoon, {{user.username}}</h1>
        <h1 *ngIf="dayPeriod == 1">Good Evening, {{user.username}}</h1>
    </div>
    <div class="accounts">
        <div class="account-accordian-container">
            <mat-accordion class="account-accordian" multi>
                <mat-expansion-panel *ngFor="let account of accounts">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{account.name}} - {{account.balance | Dollars}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <table>
                            <thead>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Balance Before</th>
                                <th>Balance After</th>
                            </thead>
                            <tr *ngFor="let transaction of transactions">
                                <td *ngIf="transaction.account.aId == account.aId">{{transaction.date | date: 'MM/dd/yyyy'}}</td>
                                <td *ngIf="transaction.account.aId == account.aId">{{transaction.amount | Dollars}}</td>
                                <td *ngIf="transaction.account.aId == account.aId">{{transaction.prevBalance | Dollars}}</td>
                                <td *ngIf="transaction.account.aId == account.aId">{{transaction.finalBalance | Dollars}}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="update-account">
                        <button (click)="showModal=true" (click)="currentAccount=account" value="{{account.aId}}">Transfer Funds</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="footer">
        <div>
            </div>
                <div class="footer-logo-container">
                    <h2>Simple Bank</h2>
                    <h4>Copyright Simple Bank 2020</h4>
                </div>
                <div class="address-container">
                    <h4>16014 Unreal Rd.</h4>
                    <h4>Puedam Park, TX</h4>
                    <h4>93025</h4>
                </div>
                <div class="contact-info-container">
                    <h3>(325) 306-8621</h3>
                    <h3>Support@simplebank.com</h3>
                </div>
            <div>
        </div>
    </div>
</div>

<div class="transfer-funds-modal" *ngIf="showModal">
    <span (click)="showModal=false">&times;</span>
    <div>
        <div>
            <mat-label>Amount: </mat-label>
            <input matInput type="number" [(ngModel)]="balanceChange">
        </div>
        <div style="flex-direction: row;">
            <button (click)="updateAccount($event)">Deposit</button>
            <button (click)="updateAccount($event)" style="margin-left: 1vw;">Withdraw</button>
        </div>
        
    </div>
</div>