.container{
    display: grid;
    grid-auto-rows: 10vh;
    height: 100vh;
    width: 100vw;
    div{
        margin: 0;
        padding: 0;
        border: none;
    }
}
.header{
    grid-row: 1;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    div{
        text-align: center;
        padding: 3vh 4vw;
        color: chocolate;
        h1{
            font-size: 1.7vw;
            
        }
        h4{
            font-size: 0.8vw;
            cursor: pointer;
        }
    }
}
.greeting{
    grid-row: 2;
    text-align: center;
    h1{
        padding-top: 3vh;
        font-size: 1.9vw;
    }
    background-color: snow;
}
.accounts{
    grid-row: 3/9;
    .account-accordian-container{
        margin: 5vh 15vw;
        table{
            border-spacing: 0px;
            th,tr{
                text-align: left;
                width: 12%;
                margin: 0;
            }
            tr:hover {background-color: #ddd;}
            td{
                border: 1px solid black;
                padding: 8px;
                margin: 0;
            }
            
        }
        #update-account{
            padding-top: 2vh;
            display: flex;
            justify-content: space-between;
            button {
                color: #444444;
                background: #F3F3F3;
                border: 1px #DADADA solid;
                padding: 5px 10px;
                border-radius: 2px;
                font-weight: bold;
                font-size: 9pt;
                outline: none;
            }
            button:hover {
                border: 1px #C6C6C6 solid;
                box-shadow: 1px 1px 1px #EAEAEA;
                color: #333333;
                background: #F7F7F7;
            }
            button:active {
                box-shadow: inset 1px 1px 1px #DFDFDF;   
            }
        }
    }
    background-color: white;
}
.footer{
    grid-row: 9/11;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    div{
        padding-top: 2vw;
    }
    img{
        width: 2vw;
        height: 2vh;
    }
}

.transfer-funds-modal{
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 15;
    span{
        position: absolute;
        top: 36%;
        left: 58.5%;
        z-index: 20;
        color: white;
        font-size: 28px;
        font-weight: bold;
        &:hover{
          cursor: pointer;
        }
    }
    div{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 25%;
        width: 25%;
        top: 35%;
        left: 35%;
        background-color: 	#232B2B;
        div{
            color: #DC3D24;
            input{
                width: 7.5vw;
            }
            button{
                background-color: #FFFFFF;
                color: #DC3D24;
                height: 2.5vh;
                width: 4vw;
                -webkit-border-radius: 28;  -moz-border-radius: 28;  border-radius: 28px;
            }
        }
        
    }
}