<div class="container">
    <div class="header">
        <div><h1>Simple Bank </h1></div>
        <div><h4 (click) = "logOut()">Log Out</h4></div>
    </div>
    <div class="greeting">
        <h1 *ngIf="dayPeriod ==-1">Good Morning, {{user.getUsername()}}</h1>
        <h1 *ngIf="dayPeriod == 0">Good Afternoon, {{user.getUsername()}}</h1>
        <h1 *ngIf="dayPeriod == 1">Good Evening, {{user.getUsername()}}</h1>
    </div>
    <div class="accounts">
        <div class="account-accordian-container">
            <mat-accordion class="account-accordian" multi>
                <mat-expansion-panel *ngFor="let account of accounts">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{account.name}} - {{account.balance}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>transaction1</div>
                    <div>transaction2</div>
                    <div>transaction3</div>
                    <div id="update-account">
                        <button (click)="updateAccount($event)" value="{{account.aId}}">Deposit</button>
                        <button (click)="updateAccount($event)" value="{{account.aId}}">Withdraw</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="footer"></div>
</div>