.container{
    position: absolute;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-auto-columns: 20%;
    grid-auto-rows: 5%;
    top: 0;
    left: 0;
    margin: 0%;
    padding: 0%;
    column-gap: 0;
    row-gap: 0;
}
.header-container{
    grid-column: 2/5;
    grid-row: 1/6;
    background-color: whitesmoke;
    text-align: center;
    h1{
        margin-top: 14vh;
    }
}
.input-container{
    grid-column: 2/5;
    grid-row: 7/19;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin-bottom: 4%;
    }
    button{
        margin-top: 2%;
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    grid-column: 2/5;
    grid-row: 18/21;
    background-color: #E8E8E8;
    div{
        min-height: fit-content;
        padding-top: 2vh;
        h2{
            font-size: 1.5vw;
        }
        h3{
            font-size: 1vw;
        }h4{
            font-size: 0.8vw;
        }
    }
}
.white-space2{
    grid-column: 2/5;
    grid-row: 6;
    background-color: ghostwhite;
}
.left-container{
    grid-row: 1/21;
    grid-column: 1;
    background-image: url(../../../assets/Bank.jpg);
    background-position: center;
    background-size: 140% 120%;
}

.right-container{
    grid-row: 1/21;
    grid-column: 5;
    background-image: url(../../../assets/Bank.jpg);
    background-position: center;
    background-size: 140% 120%;
}

