<div class="container">
    <div class="header-container">
        <h1>Simple Bank</h1>
    </div>
    <div class="input-container">
        <h2>Login</h2>
        <mat-form-field class="example-full-width">
            <mat-label>Username or Email</mat-label>
            <input matInput [(ngModel)] = "username" placeholder="Matt99">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)] = "password" type="password" placeholder="password123">
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="login()">Login</button>
        <button mat-button style="margin-bottom: 20vh;">Forgot Password</button>
        
    </div>
    <div class="left-container"></div>
    <div class="right-container"></div>
    <div class="footer">
        <div style="margin-left: 2vw;">
            <h2>Simple Bank</h2>
            <h4>Copyright Simple Bank 2020</h4>
        </div>
        <div>
            <h4>16014 Unreal Rd.</h4>
            <h4>Puedam Park, TX</h4>
            <h4>93025</h4>
        </div>
        <div style="margin-right: 2vw;">
            <h3>(325) 306-8621</h3>
            <h3>Support@simplebank.com</h3>
        </div>
    </div>
    <div class="white-space2"></div>
</div>
